<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TodoConnection"
			 connectionString="Server=localhost,1433;Database=TodoListDB;User ID=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;MultipleActiveResultSets=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>